<!-- Page Navbar -->
<nav class="custom-navbar" data-spy="affix" data-offset-top="20">
    <div class="container">
        <a class="logo" href="">Portfolio</a>
        <ul class="nav">
            <li class="item">
                <a class="link" href="#home">Home</a>
            </li>
            <li class="item">
                <a class="link" href="#about">About</a>
            </li>
            <li class="item">
                <a class="link" href="#portfolio">Portfolio</a>
            </li>
            <li class="item">
                <a class="link" href="#testmonial">Testimonials</a>
            </li>
            <li class="item">
                <a class="link" href="#blog">Blog</a>
            </li>
            <li class="item">
                <a class="link" href="#contact">Contact</a>
            </li>

            <li class="item ml-md-3">
                <a routerLink="/components" class="btn btn-primary">Components</a>
            </li>
        </ul>

    </div>
</nav><!-- End of Page Navbar -->

<!-- page header -->
<header id="home" class="header">
    <div class="overlay"></div>
    <div class="header-content container">
        <h1 class="header-title">
            <span class="up">HI!</span>
            <span class="down">I am Firas Baklouti</span>
        </h1>
        <p class="header-subtitle">Computer Engineering Student | DevOps & Cloud Enthusiast</p>

    </div>
</header><!-- end of page header -->

<!-- about section -->
<section class="section pt-0" id="about">
    <!-- container -->
    <div class="container text-center">
        <!-- about wrapper -->
        <div class="about">
            <div class="about-img-holder">
                <img src="assets/firas-removebg-preview.png" class="about-img">
            </div>
            <div class="about-caption">
                <h2 class="section-title mb-3">About Me</h2>
                <p>
                    As a Computer Engineering student, I'm passionate about using technology to innovate and solve
                    real-world problems. I'm also deeply interested in DevOps and development, continuously exploring
                    ways to optimize processes and collaborate effectively. My goal is to merge my academic knowledge
                    with my enthusiasm for DevOps and development to drive positive change in the tech industry
                </p>
                <button (click)="downloadCV()" class="btn-rounded btn btn-outline-primary mt-4">Download
                    CV</button>
            </div>
        </div><!-- end of about wrapper -->
    </div><!-- end of container -->
</section> <!-- end of about sectio -->
<!-- portfolio section -->
<section class="section" id="portfolio">
    <div class="container text-center">
        <p class="section-subtitle">What I Did ?</p>
        <!-- row -->
        <div class="row">
            <div class="col-md-4">
                <div class="portfolio-card">
                    <img src="assets/slider-developpeur-web.jpeg" class="portfolio-card-img"
                        alt="Web Designing Project 1">
                    <div class="portfolio-card-caption">
                        <h4>Web Development Trainer</h4>
                        <p class="font-weight-normal">Trained and guided over 120 students in web development.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="portfolio-card">
                    <img src="assets/Capture.PNG" class="portfolio-card-img" alt="Web Designing Project 2">
                    <div class="portfolio-card-caption">
                        <h4>Full stack developer with Angular and Spring Boot | Intern</h4>
                        <p class="font-weight-normal">Developed a childcare management application
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="portfolio-card">
                    <img src="assets/acceuil.png" class="portfolio-card-img" alt="Web Designing Project 3">
                    <div class="portfolio-card-caption">
                        <h4>Mobile and Web Applications Developer | Intern</h4>
                        <p class="font-weight-normal">Developed a web and mobile application for selling databases of
                            products and contact information of Tunisian companies
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="portfolio-card">
                    <img src="assets/elc.png" class="portfolio-card-img" alt="Web Designing Project 3">
                    <div class="portfolio-card-caption">
                        <h4>Front-end Angular Developer | Intern</h4>
                        <p class="font-weight-normal">Developed a student representative election application.

                        </p>
                    </div>
                </div>
            </div>
        </div><!-- end of row -->
    </div><!-- end of container -->
</section><!-- end of portfolio section -->


<!-- contact section -->
<!-- footer -->
<div class="container">
    <footer class="footer">
        <p class="mb-0">Copyright
            <script>document.write(new Date().getFullYear())</script> &copy; <a>Firas Baklouti</a>
        </p>
        <p>firas.baklouti059@gmail.com | 20232494</p>
        <div class="social-links text-right m-auto ml-sm-auto">
            <a href="https://www.linkedin.com/in/firas-baklouti-45144b202/" target="_blank" class="link"><i
                    class="ti-linkedin"></i>
            </a>

        </div>
    </footer>

</div>